.add_todo__item {
  background-color: rgb(135, 222, 196);
  position: relative;
  width: 250px;
  border: 5px black solid;
  text-align: center;
  margin-top: 5px;
  word-wrap: break-word;
  padding: 5px;
}

.add_todo__item h1 {
  margin-top: 10px;
  font-size: 22px;
  font-weight: 700;
}

.add_todo__item h2 {
  margin: 0;
  font-size: 22px;
  font-weight: 500;
}

.add_todo__item span {
  display: block;
  margin-top: 5px;
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 500;
}

.done {
  text-decoration: line-through;
}

.add_form {
  width: 100%;
  text-align: center;
}

input[type='text']:focus {
  border: 3px solid rgb(109, 174, 212);
}

.add_form input {
  margin-top: 5px;
  margin-bottom: 10px;
  outline: none;
  width: 300px;
  height: 30px;
  padding-left: 10px;
  font-size: 18px;
  border-radius: 12px;
  box-sizing: border-box;
  border: 3px black solid;
}

.btn_add {
  width: 100px;
  height: 30px;
  background: white;
  font-size: 18px;
  border-radius: 12px;
  outline: none;
  box-sizing: border-box;
  transition: 0.3s ease;
  cursor: pointer;
  border: 3px black solid;
}

.btn_add:hover {
  color: rgb(109, 174, 212);
}

.form_box {
  position: absolute;
  top: 300px;
  left: 30%;
  width: 500px;
  height: 250px;
  background-color: azure;
  text-align: center;
  padding-top: 15px;
}

.form_box span {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 17px;
  font-weight: 700;
  cursor: pointer;
  width: 23px;
  height: 19px;
  border-radius: 50%;
  background-color: rgb(219, 220, 217);
}

.todo_list__box {
  margin: 0 auto;
}

.add_cat {
  width: 270px;
  height: 40px;
  border: 5px black solid;
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.checkbox {
  position: absolute;
  top: 0px;
  right: 0px;
}

.delete_btn {
  background: rgb(223, 243, 186);
  font-size: 12px;
  font-weight: 700;
  width: 100px;
  color: red;
  letter-spacing: 1px;
  cursor: pointer;
}

.priority {
  display: block;
  width: 200px;
  margin: 0 auto;
  font-size: 18px;
  font-size: 16px;
  font-weight: 700;
}

.priority_select {
  width: 120px;
  height: 30px;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}
