.add_todo__item_task {
  background-color: rgb(135, 222, 196);
  position: relative;
  width: 320px;
  height: 250px;
  border: 5px black solid;
  text-align: center;
  word-wrap: break-word;
  padding: 5px;
  margin: 0px 15px 30px 50px;
}

.add_todo__item_task h1 {
  font-size: 22px;
  font-weight: 700;
  margin-top: 20px;
}

.add_todo__item_task h2 {
  margin: 0;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 10px;
}

.add_todo__item_task span {
  display: block;
  margin-top: 5px;
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 500;
}

.categoriesName {
  font-size: 20px;
  font-weight: 700;
  margin: 15px 0px 15px 0px;
}

.done {
  text-decoration: line-through;
}

.checkbox {
  position: absolute;
  top: 0px;
  right: 0px;
}

.delete_btn {
  background: rgb(223, 243, 186);
  font-size: 12px;
  font-weight: 700;
  width: 100px;
  color: red;
  letter-spacing: 1px;
  cursor: pointer;
  margin: 0px 5px 0px 5px;
}

.edit_todo__task {
  background: rgb(223, 243, 186);
  font-size: 12px;
  font-weight: 700;
  width: 100px;
  color: rgb(4, 0, 255);
  letter-spacing: 1px;
  cursor: pointer;
  margin: 0px 5px 0px 5px;
}

.create_time {
  display: block;
  margin-bottom: 10px;
}

.add_todo__task {
  position: absolute;
  top: 10px;
  left: 50px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 5px black solid;
  font-size: 42px;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  background-color: rgb(135, 222, 196);
  text-align: center;
}

.add_todo__task p {
  margin: 0px;
  color: white;
}

.item_box {
  position: absolute;
  display: flex;
  top: 0px;
  left: 300px;
}

.todo_list__box {
  padding-top: 80px;
  display: flex;
  flex-wrap: wrap;
}

div[id='cb'] {
  text-decoration: none;
}

input[id='cb']:checked ~ h1.del {
  text-decoration: line-through;
  color: red;
}

.priorityTodo {
  display: block;
  width: 200px;
  margin: 0 auto;
  font-size: 18px;
  font-size: 16px;
  font-weight: 700;
}
