.add_todo__item {
  background-color: rgb(135, 222, 196);
  position: relative;
  max-width: 320px;
  border: 5px black solid;
  text-align: center;
  word-wrap: break-word;
  padding: 5px;
  margin-bottom: 10px;
}

.add_todo__item h1 {
  margin-top: 10px;
  font-size: 22px;
  font-weight: 700;
  width: 200px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.add_todo__item h2 {
  margin: 0;
  font-size: 22px;
  font-weight: 500;
  width: 200px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.add_todo__item span {
  display: block;
  margin-top: 5px;
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 500;
}

.done {
  text-decoration: line-through;
}

.checkbox {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 20px;
  height: 20px;
}

.delete_btn {
  background: rgb(223, 243, 186);
  font-size: 12px;
  font-weight: 700;
  width: 100px;
  color: red;
  letter-spacing: 1px;
  cursor: pointer;
}

.edit_todo__cat {
  background: rgb(223, 243, 186);
  font-size: 12px;
  font-weight: 700;
  width: 100px;
  color: rgb(4, 0, 255);
  letter-spacing: 1px;
  cursor: pointer;
  margin: 0px 5px 0px 5px;
}

.priority_level {
  font-weight: 700;
}
